.wrapper{
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url('./assets/cr.jpg');
  height: 100vh;
background-position: center;
background-size: cover; 
}
button{
  padding: 7px 14px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid rgb(249, 168, 168);
  border-radius: 4px;
  cursor: pointer;
}
button:hover{ 
  background:white;
  color: black;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}